* {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    /*padding: 35px 0;*/
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



ul, li {
    list-style-position: inside;
    list-style-type: none;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #323e11;
}

p {
    font-size: 14px;
    line-height: 20px;
    margin: 14px 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 10px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 19px;
}

h4 {
    font-size: 18px;
}

img {
    border: 0;
    outline: 0;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.block {
    display: block;
}

.no-margin {
    margin: 0 !important;
}

.bold {
    font-weight: bold;
}

.semibold {
    font-weight: 600;
}

.italic {
    font-style: oblique;
}

#image-cache {
    display: none;
}

.clr {
    clear: both;
    height: 0;
}

.invisible {
    visibility: hidden;
}

.center {
    text-align: center;
    margin: 0 auto;
}

fieldset, legend {
    border: none;
    margin: 0;
    padding: 0;
}

.blog-featured {
    display: inline-block;
}

.blog-featured > h1 {
    display: none !important;
}

#bg-body-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: -200px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img#bg-body {
    min-width: 100%;
    min-height: 100%;
}

#wrapper {
    width: /*960*/880px;
    padding: 0 30px 0 50px;
    margin: 0 auto;
    background: url(../img/bg_wrapper2.png) #FFF repeat;
    position: relative;
    z-index: 2;
    min-height: 100%;
    height: auto !important;
    /*height: 100%;*/
}

#bg-wrapper {

}

#bg-wrapper-fade {
    background: url(../img/bg_wrapper_fade.png) repeat-x;
    width: 960px;
    margin: 0 auto;
    height: 98px;
    position: relative;
    z-index: 3;
    margin-left: -50px;
    /*margin-top: -15px;*/
}

#header {
    margin-top: -81px;
    position: relative;
    z-index: 4;
    margin-bottom: 53px;
}

#header .menu-container {
    margin-top: -23px;
}

#logo {
    background: url(../img/logo.png) no-repeat;
    width: 310px;
    height: 85px;
    float: left;
    margin-top: 10px;
}

#logo a {
    display: block;
}

.menu {
    float: right;
}

.menu li {
    float: left;
    margin: 0 12px;
    padding-bottom: 7px;
}

.menu li a {
    font-size: 18px;
    font-weight: bold;
    text-transform: lowercase;
    padding: 7px 0;
}

.menu li:hover {
    background: url(../img/border_menu_hover.png) 0 100% repeat-x;
}

.social-container {
    float: right;
}

.social {
    width: 27px;
    height: 26px;
    background-repeat: no-repeat;
}

.social a {
    display: block;
}

.social-container > * {
    float: left;
    /*margin: 0 8px;*/
}

#facebook.social {
    background-image: url(../img/social/facebook.png);
}

#facebook.social:hover {
    background-image: url(../img/social/facebook_hover.png);
}

#twitter.social {
    background-image: url(../img/social/twitter.png);
    margin-right: 10px;
}

#twitter.social:hover {
    background-image: url(../img/social/twitter_hover.png);
}

#content {
    padding-bottom: 60px;
}

#content h1 {
    color: #323e11;
    font-size: 25px;
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#content p {
    font-size: 13px;
}

#content #col-l {
    width: 51%;
    float: left;
}

#content #col-r {
    width: 38%;
    float: right;
}

#footer {
    margin: 0 auto;
    width: 960px;
    position: relative;
    z-index: 2;
    margin-top: -75px;
}

#bg-footer-ripped {
    background: url(../img/bg_footer_ripped.png) no-repeat;
    width: 960px;
    height: 55px;
}

#footer #bg-footer-white {
    background: #FFF;
    width: 960px;
    height: 20px;
}

.fg-leaf {
    position: absolute;
    z-index: 4;
    background-repeat: no-repeat;
    width: 156px;
    height: 109px;
}

.fg-leaf.leaf-top-left {
    background-image: url(../img/fg_leaf_top_left.png);
    left: -60px;
    top: 74px;
}

.fg-leaf.leaf-bottom-right {
    background-image: url(../img/fg_leaf_bottom_right.png);
    right: -61px;
    top: 574px;
}

/* Carousel */
div.carousel-container {
    margin-left: -50px;
    position: relative;
    width: 960px;
    height: 473px;
    overflow: hidden;
}

div.carousel-container .bg-shadow {
    position: absolute;
    background-repeat: repeat-x;
    width: 960px;
    height: 27px;
    left: 0;
}

div.carousel-container .bg-shadow.bg-shadow-top {
    top: 0;
    background-image: url(../img/bg_carousel_shadow_top.png);
}

div.carousel-container .bg-shadow.bg-shadow-bottom {
    bottom: 0;
    background-image: url(../img/bg_carousel_shadow_bottom.png);
}

.carousel {
    position: absolute;
    height: 100%;
}

.carousel li {
    float: left;
}

.navigation-container {
    text-align: center;
    margin-left: -50px;
    width: 960px;
}

.navigation {
    display: inline-block;
}

.navigation .circle {
    background: url(../img/button_carousel_nav.png) no-repeat;
    width:15px;
    height: 15px;
    float: left;
    cursor: pointer;
    margin: 0 3px;
}

.navigation .circle.active {
    background-image: url(../img/button_carousel_nav_active.png);

}